:root {
  --palette-primary-text: #000;
  --palette-secondary-text: #fff;
  --palette-background-main: #efecd9;
  --palette-background-secondary: #fff;
  --palette-background-header: #0099ff;

  --typography-fontFamily: "Roboto", sans-serif;
  --typography-htmlFontSize: 14px;
  --typography-fontWeightLight: 300;
  --typography-fontWeightBold: 700;
  --typography-fontWeightBlack: 900;
}
