.slide {
  &__heading {
    position: relative;
    padding-block: 15px 23px;
    padding-inline-start: 38px;
    height: 150px;
  }

  &__heading-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  &__heading-name,
  &__heading-info {
    color: var(--palette-secondary-text);
    line-height: 1.2;
  }

  &__heading-name {
    font-size: 21px;
    font-weight: var(--typography-fontWeightBold);
  }

  &__heading-info {
    font-size: 15px;
    margin-block-start: 8px;
  }

  &__footer {
    padding-block: 12px 23px;
    padding-inline-start: 23px;
    display: grid;
    row-gap: 7px;
  }

  &__footer-text {
    font-size: 17px;
    line-height: 1.5;
    max-width: 301px;
  }

  &__footer-price {
    font-size: 11px;
    line-height: 1.5;
    padding: 2px;
    background-color: #c3b8a5;
    border-radius: 2px;
  }

  &__price-sum {
    font-weight: var(--typography-fontWeightBlack);
    font-size: 24px;
    line-height: 1.2;
    border-radius: 2px;
    margin-block-start: 5px;
    width: max-content;
    transition-property: background-color, color;
    transition-duration: 0.4s;
    padding: 3px 8px;
    transform: translateX(-8px);
  }
}
