.slider {
  position: relative;
  background-color: var(--palette-background-main);

  &__heading {
    display: flex;
    padding-block: 22px 28px;
    padding-inline-end: 18px;
    gap: 50px;
    align-items: center;
  }

  &__heading-title {
    font-size: 60px;
    font-weight: var(--typography-fontWeightBlack);
    line-height: 1.3;

    &:hover {
      border-bottom: 5px solid var(--palette-primary-text);
    }
  }

  &__item {
    height: 300px;
  }

  &__background-image {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    object-fit: cover;
    z-index: 1;
  }
}
